ah_dc = "ash1"
ah_image_web = "centos-8-x64"
ah_image_db = "centos-8-x64"
ah_image_client = "centos-8-x64"

ah_product = "start-xs"
ah_token = "123"
ah_ssh_keys = ["123"]
ssh_user = "adminroot"
inventory_file = "hosts"
site_provision_yml = "site.yml"
nginx_node_count = "2"
db_node_count = "1"
db_private_ip_range = "192.168.0"
web_private_ip_range = "192.168.10"
client_node_count = "1"

