server {
   listen {{ wp_nginx_port }};

   # note that these lines are originally from the "location /" block
   root {{ nginx_html_root_dir }}{{ wp_dir_prefix }}-{{wp_version}};
   index index.php index.html index.htm;

   location / {
      try_files $uri $uri/ =404;
   }


   access_log  /var/log/nginx/{{ wp_dir_prefix }}-{{wp_version}}.log  main;
   error_log  /var/log/nginx/{{ wp_dir_prefix }}-{{wp_version}}-err.log  warn;

   location ~ \.php$ {
      try_files $uri =404;
      fastcgi_pass {{ fpm_proto }}:{{ fpm_socket_path }}{{ wp_fpm_pool_name }}.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
   }
}
